.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.box, .nav-tabs-custom {
  margin-bottom: 0px;
}

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.panel-scrolling {
  overflow-x: auto;
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 212px + 39px );
}

.table-bordered {
  border: 1px solid #f4f4f4;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.mg-sort-columnx{
  border-top: 0;
  border-bottom: 1px solid #ddd !important;
}

th {
  text-align: center;
  font-size: 14px;
}

.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #fff;
}