.MainPage{
    color: white;
    text-decoration: none;
}
.MainPage:hover{
    color: white;
    text-decoration: none;
}
.PageSecondary{
    color: white;
    text-decoration: none;
}
.PageSecondary:hover{
    color: white;
    text-decoration: none;

}
.ContainerPrimary{
    justify-content:flex-start!important;
    align-items: center;
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.ContainerPrimary li + li{
    margin-left: 10px;
}
.ContainerSecondary{
    justify-content:end!important;
    align-items: center;
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.ContainerSecondary li + li{
    margin-left: 10px;
}
td {
    min-height: 60px;
    line-height: 60px;
}
.Logout{
    color: white;
    text-decoration: none;  
}
.Logout:hover{
    color: red;
    text-decoration: none;
}
.nav-blue{
    background-color: #3c8dbc;
}