:root {
  --main-color: #3c8dbc;
}
/* footer values */
.footer {
  background-color: var(--main-color);
  padding: 2rem;
  color: #fff !important;
}

.leads a {
  font-size: 2.5rem;
  text-decoration: none;
  color: #fff;
}
/* end footer */
/* sections values */
.pane i {
  color: #fff;
  border-radius: 50%;
  display: block;
  width: 60px;
  height: 60px;
  font-size: 2.5rem;
  background-color: var(--main-color);
  margin-bottom: 1rem;
  transition: transform .3s ease-out;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, .3);
}
.pane i:hover {
  transform: scale(1.2);
}
.pane h3 {
  font-size: 1.3rem;
  font-weight: bold;
}
.pane {
  color: var(--main-color);
}
/* end of section values */
img,
svg {
  margin-top: 10px;
  vertical-align: unset;
}
/* color btn-outline values */
.--grey {
  color: var(--main-color);
  background-color: #fff;
  border-color: var(--main-color);
}
.--grey:hover {
  color: #fff;
  background-color: var(--main-color);
}
.navbar-brand {
  color: var(--main-color);
}
.salutation {
  color: #275d7c;
}